<?php
use Chill\Configure;
use Aws\Common\Enum\Region;

Configure::write(Configure::AWS_S3_BUCKET, '');
Configure::write(Configure::AWS_ACCESS_KEY_ID, '');
Configure::write(Configure::AWS_SECRET_ACCESS_KEY, '');
Configure::write(Configure::AWS_S3_REGION, Region::CALIFORNIA);